# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
* Popular languages for Data Science
* Commonly used libraries by Data Scientists
* Data Science Tools

Some of the popular languages that Data Scientists use are:
 1. Python
 2. R language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy

|Data Science Tools|
|------------------|
|JupyterNotebook|
|Python|
|R language|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
##This a simple arithmetic expression to mutiply then add integers.

In [6]:
(3*4)+5

17

In [8]:
##This will convert 200 minutes to hours by diving by 60.

In [9]:
200/60

3.3333333333333335

## Author

Sandra Blanu≈°a